.header{
    height :55px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    z-index: 100;

    background-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style:solid;
    border-bottom-color:rgb(222, 222, 222);
}
.left-section{
    display:flex;
    align-items: center;
}
.hamburger-menu{
    height:24px;
    margin-left: 24px;
    margin-right:24px;
}
.youtube-icon{
    height:20px;
}
.middle-section{
    flex:1;
    margin-left:60px;
    margin-right: 35px;
    max-width: 470px;
    display:flex;
    align-items: center;
}
.search-bar{
    flex:1;
    height: 37px;
    padding-left:12px;
    font-size:16px;
    border-width: 1px;
    border-style:solid;
    border-color: rgb(184, 176, 176);
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow:inset 1px 2px 3px
    rgb(0, 0, 0, 0.05);
    width:0;
}
.search-bar::placeholder{
    font-family:Roboto,arial;
    font-size:16px;
}
.search-button{
    height:40px;
    width:66px;
    border-width:1px;
    border-style:solid;
    border-color: rgb(184, 176, 176);
    background-color:  rgb(244, 244, 244);
    margin-left:-1px;
    margin-right:10px;
    border-top-right-radius:2px;
    border-bottom-right-radius: 2px;
}
.search-button,
.voice-search-button,
.upload-icon-container,
.app-icon-container,
.notification-icons-container{
    display: flex;
    justify-content: center;
    position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.app-icon-container .tooltip,
.notification-icons-container .tooltip{
    font-family: Roboto,Arial;
    position: absolute;
    background-color: gray;
    color:white;
    padding-top:4px;
    padding-bottom :4px;
    padding-left:8px;
    padding-right:8px;
    border-radius: 2px;
    font-size:12px;
    bottom: -32px;
    opacity:0;
    transition:opacity 0.15s;
    pointer-events: none;
    white-space:nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.app-icon-container:hover .tooltip,
.notification-icons-container:hover .tooltip{
    opacity:1;
}

.search-icon{
    height: 24px;
    padding-top:4px;

}
.voice-search-button{
    height:40px;
    width:40px;
    border-radius:20px;
    border:none;
    background-color: rgb(245, 245, 245);
}
.voice-search-icon{
    height: 24px;
    padding-top: 6px;
}
.right-section{
    width: 180px;
    margin-right:24px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.upload-icon{
    height:24px;
}
.youtube-app-icon{
    height:24px;
}
.notification-icon{
    height:24px;
}
.notification-icon-container{
    position: relative;
    display: flex;
    justify-content: center;
}
.notification-count{
    position:absolute;
    top:-3px;
    right:-7px;
    background-color: rgb(200, 0, 0);
    color:white;
    font-family: Roboto,Arial;
    font-size:10px;
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
    border-radius:10px;
    border: 2px solid white;

}
.current-user-picture{
    height:32px;
    border-radius:16px;
    cursor: pointer;
}