
.thumbnail{
    width:100%;
}
.video-title{
    margin-top: 0;
    font-size:14px;
    font-weight:500;
    line-height: 20px;
    margin-bottom:10px;
}
.video-author{
    color:rgb(96,96,96);
    font-size: 12px;
    margin-bottom:4px;
}
.video-status{
    font-size:12px;
    text-decoration: none;
    color: rgb(96, 96, 96);
}
.video-info-grid{
    display:grid;
    grid-template-columns:50px 1fr;
}
.profile-picture{
    width: 36px;
    border-radius: 20px;
}
.thumbnail-row{
    margin-bottom: 8px;
    position:relative;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr  1fr 1fr;
    column-gap: 15px;
    row-gap: 35px;
    padding: 20px;
    margin-top: -29px;
    margin-left: -17px;
}
.video-time{
    position: absolute;
    bottom: 11px;
    right: 4px;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 12px;
    padding: 4px;
    border-radius: 2px;
    font-weight: 500;
    font-family: Roboto,Arial;
}
.video-title{
    width: 290px;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 20px;
    cursor: pointer;
}
.channel-name{
    text-decoration: none;
    color: rgb(96, 96, 96);
}
.video-link{
    text-decoration: none;
    color:black
}
.video-preview{
    padding: 4px;
    vertical-align: top;
}